<h2>Create New customer</h2>
<table class = "table">
   
<%= form_for @customer do |f| %>
  
   
   <tbody>
      <tr>
         <th>Client ID :</td>
         <td><%= f.text_field :client_id %></td>
      </tr>
      
      <tr>
         <th>Customer Name :</th>
         <td><%= f.text_field :cname %></td>
      </tr>
<tr>
         <th>Contact No :</th>
         <td><%= f.text_field :contact %></td>
      </tr>
<tr>
         <th>Email :</th>
         <td><%= f.text_field :email %></td>
      </tr>


   </tbody>
	
</table>
<%= f.submit %>
<br><br><br>
<% end %>