<h2>List of Companies</h2>
<table class = "table">


<table class = "table">
  
   <thead>
      <tr>
         <th>Company</th>
         <th></th>
	<th></th>
      </tr>
   </thead>
   
   <tbody>
<% @plans.each do |f| %>
      <tr>
         <td><%= f.company_name %></td>
         <td><%= link_to "",edit_plan_path(f),class:"btn btn-info btn-xs glyphicon glyphicon-edit" %></td>
		<td><%= link_to "Show",plan_path(f),class:"btn btn-success btn-xs" %></td>
		<td><%= link_to "",plan_path(f),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs glyphicon glyphicon-trash" %></td>
		<td><%= link_to "Subscribe to customer",edit_pol_path(f),class:"btn btn-primary btn-xs" %></td>
		<td><%= link_to "Comment",edit_comment_path(f),class:"form-control btn btn-warning btn-sm glyphicon glyphicon-comment" %></td>
<% end %> 
</tr>     
     <tr>
		<td><%= link_to " Plan",new_plan_path,class:"btn btn-primary btn-md glyphicon glyphicon-plus" %></td>
	 </tr>	 
   </tbody>
	
</table>