<h2>List of Customers</h2>
<table class = "table">


<table class = "table">
  
   <thead>
      <tr>
         <th>Customers</th>
         <th></th>
	<th></th>
      </tr>
   </thead>
   
   <tbody>
<% @customers.each do |f| %>
      <tr>
		<th><%= f.client_id %></th>
         <td><%= f.cname %></td>
         <td><%= link_to "Edit",edit_customer_path(f),class:"btn btn-warning btn-xs" %></td>
		<td><%= link_to "Show",customer_path(f),class:"btn btn-success btn-xs" %></td>
		<td><%= link_to "Delete",customer_path(f),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs" %></td>
<% end %> 
</tr>     
     <tr>
		<td><%= link_to "Add User",new_customer_path,class:"btn btn-primary btn-md" %></td>
	 </tr>	 
   </tbody>
	
</table>